html {
    font-size: 16px;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

div {
    height: 50px;
    width: 50px;
}

.cor-principal {
    width: 49px;
    height: 49px;
    background-color: #fff;
    border: solid 1px;
}

.cor-secundaria {
    background-color: #000;
}

.cor-destaque {
    background-color: #ffff00;
}

.cor-titulo {
    background-color: #2a2a2a;
}

.cor-subtitulo {
    background-color: #3e3e3e;
}

.cor-texto {
    background-color: #535353;
}

.cor-texto-alternativo {
    width: 49px;
    height: 49px;
    background-color: #fff;
    border: solid 1px;
}

.cores {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

